@import "/home/newor/.config/eww/scss/primary-color";

*{
	transition:.7s ease;
	font-size:12px;
}
window{
	background:none;
}


.dock{
	color:#ddd;
	/*margin: 0 1rem 0 1rem;*/
	margin:5px;
}

.dock.btn{
	background:none;
	border:3px solid #ddd;
	border-radius:1rem;
	box-shadow:none;
	margin:5px;
	font-size:100rem;
	padding:0;
}

.dock.body{
	background:mix($primary,rgb(0,0,0,.7));
	border-radius: 1rem;
	margin:0;
}
.dock.time{
	color:#ddd;
	margin-left:10px;
}
.dock.btn.wifi{
	padding:0 10px 0 10px;
}
