* {
    border: None;
}

#window {
    margin: 10px;
    /*border: 2px solid #7A8478;*/
    border-radius: 10px;
    background-color: #260c0f;
}

#input {
    margin: 10px;
    border: none;
    color: #260c0f;
    background-color: #af3744;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #af3744;
}

#input::placeholder {
    color: #260c0f;
}

#input:focus {
    background-color: #d37781;
    box-shadow: 0 0 3px 1px #d37781;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #af3744;
    background-color: #260c0f;
    border-radius: 10px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #260c0f;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    border: none;
    color: #D3C6AA;
    margin-left: 10px;
    color: #260c0f;
}

#entry:selected {
    background-color: #d37781;
    border-radius: 10px;
    box-shadow: 0 0 3px .4px #d37781;
}

#entry {
    padding: .5rem;
    transition: .3s ease;
    border: none;
    margin: 5px;
    background: #af3744;
    border-radius: 10px;
    box-shadow: 0 0 3px .4px #af3744;
}

.entry {
    border: none;
}
