@define-color accent #3dadcc;
@define-color bg rgba(11,11,11,1);
@define-color light #222;
@define-color text #f8f8f8;

window {
  border-radius: 1rem;
  padding: 1rem;
  background: @bg;
  backdrop-filter:blur(10px);
}


#input {
border-radius: 1rem;
margin: 5px;
border: none;
outline-style:none;
color: @text;
background-color: @light;
}

#inner-box {
padding:10px;
margin: 5px;
border: none;
background-color: none;
}

#outer-box {
margin: 5px;
border: none;
background-color: none;
}


#text {
margin: 5px;
border: none;
color: @text;
} 

#entry.activatable #text {
color: @bg;
}

#entry > * {
color: @text;
}

#entry:selected {
border: none;
outline:none;
color: @text;
background: linear-gradient(90deg, rgba(36, 79, 57 ,1) 0%, rgba(36, 79, 57, 1) 100%);
border-radius: 1rem;
}

#entry:selected #text {
font-weight: bold;
}
